In [1]:
import pandas as pd
import numpy as np
import calendar
from dateutil.relativedelta import *
from datetime import datetime, timedelta
import time

In [2]:
df = pd.read_csv('power_usage.csv', parse_dates = True , index_col='time')
df.head()

                      value
time
2019-08-20 14:25:00   924.0
2019-08-20 14:30:00   732.0
2019-08-20 14:35:00  1128.0
2019-08-20 14:40:00   756.0
2019-08-20 14:45:00   912.0

In [5]:
start='2020-06-25'
end = '2020-06-30'
df[start:end]

                     value
time
2020-06-25 00:00:00  417.6
2020-06-25 00:05:00  424.8
2020-06-25 00:10:00  432.0
2020-06-25 00:15:00  417.6
2020-06-25 00:20:00  417.6
...                    ...
2020-06-30 23:35:00    0.0
2020-06-30 23:40:00    0.0
2020-06-30 23:45:00    0.0
2020-06-30 23:50:00    0.0
2020-06-30 23:55:00    0.0

[1728 rows x 1 columns]

In [29]:
0 in df['2020-09-01 00:00:00' : '2020-09-30 23:55:00'].values

False

In [5]:
df['2020-12-01 00:00:00' : '2020-12-31 23:55:00'].index.is_monotonic_increasing

True

In [3]:
start='2019-09-17'
end = '2019-10-16'

In [4]:
pd.options.mode.chained_assignment = None
for ind, val in df[start:end].iterrows():
    df[start:end].loc[ind]= val.apply(lambda val : df.loc[ind+timedelta(weeks=-2)][0] if val == 0 else val)

In [7]:
df[start:end]

                     value
time
2020-06-25 00:00:00  417.6
2020-06-25 00:05:00  424.8
2020-06-25 00:10:00  432.0
2020-06-25 00:15:00  417.6
2020-06-25 00:20:00  417.6
...                    ...
2020-06-30 23:35:00  417.6
2020-06-30 23:40:00  424.8
2020-06-30 23:45:00  417.6
2020-06-30 23:50:00  424.8
2020-06-30 23:55:00  417.6

[1728 rows x 1 columns]

In [5]:
new = df[start:end].resample('H', label = 'right', closed = 'right').mean()

In [6]:
new.groupby([new.index.year, new.index.month]).sum()['value']

time  time
2019  8       48658.110390
      9       86896.812121
Name: value, dtype: float64

In [14]:
3176028.0
3564648.0
 6357576.0

IndentationError: unexpected indent (<ipython-input-14-68111f45cc7c>, line 3)

In [ ]:
2019  8       48658.110390
      9       86896.812121